div.dataTables_wrapper {
    margin: 0 0;
}

#custom-table tr td a {
    padding: 5px;
    color: #fff;
    border-radius: .15rem;
}

#custom-table tr td {
    margin: auto;
    vertical-align: middle;
}

#custom-table tr td a {
    padding: 5px;
    color: #fff;
    border-radius: .15rem;
}

#custom-table tr td .view {
    background-color: #3bac47;
}

#custom-table tr td .view:hover {
    color: #fff;
    background-color: #308e3a;
    text-decoration: none;
}

#custom-table tr td .edit {
    background-color: #ffc107;
}

#custom-table tr td .edit:hover {
    color: #fff;
    background-color: #e0a800;
}

#custom-table tr td .remove {
    background-color: #dc3545;
}

#custom-table tr td .remove:hover {
    color: #fff;
    background-color: #c82333;
}

#custom-table td {
    min-width: min-content;
    width: max-content;
}

.content-body {
    width: 70%;
    margin: auto;
}

h7 {
    font-size: 15px;
}

#file-input {
    display: none;
}

#btn-add {
    padding-top: 100px;
}

#startTime {
    margin-left: 15px;
}

#endTime {
    margin-left: 15px;
}

.function {
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.radio-first {
    margin-left: 5px;
}

.label-radio {
    margin-left: 5px;
    margin-right: 20px;
}

.sendMail {
    color: black;
}